.image {
  display: block;
  max-width: 100%;
  height: auto;
  border-style: none;
  font-family: var(--typography-font-family);
  color: var(--colors-text-tertiary);
  font-size: var(--typography-sizes-caption-default);
  transition: opacity var(--interactions-transitions-duration-medium) var(--interactions-transitions-easing-default);

  // Ensure alt text wraps if image breaks
  overflow-wrap: break-word;
}